In [ ]:
import requests
import json
import pandas as pd

In [ ]:
response = requests.get("http://api.bcb.gov.br/dados/serie/bcdata.sgs.4447/dados?formato=json&dataInicial=01/01/2010&dataFinal=31/12/2016")

In [ ]:
json = json.dumps(response.json(),sort_keys=True, indent=4)

In [ ]:
#print(json)

In [ ]:
with open('json_bc.json', 'w') as arquivo:
    arquivo.write(json)

In [ ]:
df = pd.read_json('json_bc.json')

In [ ]:
df

          data  valor
0   01/01/2010   0.68
1   01/02/2010   0.26
2   01/03/2010   0.53
3   01/04/2010   0.61
4   01/05/2010   0.42
..         ...    ...
79  01/08/2016   0.54
80  01/09/2016  -0.04
81  01/10/2016   0.08
82  01/11/2016   0.12
83  01/12/2016   0.32

[84 rows x 2 columns]